body {
  background-color: grey;
  font-family: "Open Sans", Verdana, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  padding: 8px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 8px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  padding: 8px;
}

h4 {
  font-weight: 200;
  font-size: 20px;
  padding: 8px;
}

h5 {
  font-weight: 100;
  font-size: 18px;
  padding: 8px;
}

p {
  font-weight: 400;
  padding-left: 16px;
  padding-bottom: 12px;
}

img {
  padding: 12px;
}

a {
  font-weight: 500;
  color: lightskyblue;
}

.back-to-home {
  font-weight: 600;
  margin: 12px;
}

ul,
ol {
  padding-bottom: 12px;
}
